* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  padding: 50px; }

a {
  text-decoration: none;
  color: black; }

.actions {
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  position: relative; }
  .actions img {
    vertical-align: middle; }
  .actions > a {
    display: inline-block;
    width: 20px;
    text-align: center; }

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 200px;
  right: 0;
  background: black;
  color: white; }
  .dropdown a {
    color: white;
    display: block;
    text-align: left;
    padding: 8px 15px; }
    .dropdown a:hover, .dropdown a:focus {
      color: black;
      background: #ccc; }

.user-dropdown:hover .dropdown, .user-dropdown:focus .dropdown {
  display: block; }
